<div class="navbar-ledja <%= 'navbar-transparent navbar-fixed-top navbar-home' if current_page?(root_path) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-ledja-brand" do %>
    <div id="logo">
      <i class="fas fa-check-double"></i><p>Ledja</p>
    </div>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-ledja-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Dashboard", subscriptions_index_path, class: "navbar-ledja-item navbar-ledja-link" %>
      <%= link_to "Profile", edit_user_registration_path, class: "navbar-ledja-item navbar-ledja-link" %>

      <%= link_to "Log-out", destroy_user_session_path, class: "navbar-ledja-item navbar-ledja-link", method: :delete %>

      <!-- Avatar with dropdown menu -->
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_up", default: "Sign-Up"), new_user_registration_path, class: "navbar-ledja-item navbar-ledja-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-ledja-item navbar-ledja-link" %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-ledja-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ledja-dropdown-menu">
        <% if user_signed_in? %>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Followed subscriptions</a></li>
          <li><a href="#">Manage my accounts</a></li>
          <li><a href="#">Edit Profile</a></li>
          <li><a href="#">Log out</a></li>
        <% else %>
          <li><%= link_to "Sign-Up", new_user_registration_path %></li>
          <li><%= link_to "Sign-In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
