<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "logo">Company Logo</th>
      <th scope="col" class= "name">Service Provider</th>
      <th scope="col" class= "name">Mark <br>as Cancelled</br></th>
      <th scope="col" class= "name">Monthly <br> reminder </br></th>
      <th scope="col" class= "name">Notify when <br> new deals</br></th>
      <th scope="col" class= "name">Cancel Link</th>
    </tr>
  </thead>
</table>

<div class="dash-card">
  <%= simple_form_for(@user_subscription) do |f| %>
    <div>
      <%= f.input_field :reminder, label: false, as: :boolean, class: 'form-control',
        data: { toggle: 'toggle', style: 'ios' }, id: 'test', class: 'toggle' %>
    </div>
      <%= f.input_field :reminder, label: false, as: :boolean, class: 'form-control',
        data: { toggle: 'toggle', style: 'ios' }, id: 'test', class: 'toggle' %>
    <div>
      <%= f.input_field :reminder, label: false, as: :boolean, class: 'form-control',
        data: { toggle: 'toggle', style: 'ios' }, id: 'test', class: 'toggle' %>
    </div>
  <% end %>
</div>

<%= content_for :body_js do %>
  <script>
    $(document).ready(function() {
      var selector = 'input[type="checkbox"].toggle';

      $(selector).change(function(event) {
        console.log($(event.target).parents());
      });
    });

    $(document).on('ready page:change', function() {
      var selector = 'input[type="checkbox"].toggle';

      $(selector).bootstrapToggle(); // assumes the checkboxes have the class "toggle"

      $(selector).change(function(event) {
        console.log('hi');
        event.target
      });
    });
  </script>
<% end  %>
