<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "logo">Company Logo</th>
      <th scope="col" class= "name">Service Provider</th>
      <th scope="col" class= "name">Mark <br>as Cancelled</br></th>
      <th scope="col" class= "name">Monthly <br> reminder </br></th>
      <th scope="col" class= "name">Notify when <br> new deals</br></th>
      <th scope="col" class= "name">Cancel Link</th>
    </tr>
  </thead>
</table>

<% current_user.user_subscriptions.each do |sub| %>
  <%= simple_form_for(sub)do |f| %>
    <div class="dash-card">
      <div class="subscription-logo settings">
        <%= image_tag("/logos/#{sub.name.parameterize}.png",  class: "subscription-logo")  %>
      </div>
      <div class="settings sub-name-field">
        <h4><strong><%= sub.name %></strong></h4>
      </div>
      <div class="settings">
        <%= f.input_field :reminder, label: false, as: :boolean, class: 'form-control',
          data: { toggle: 'toggle', style: 'ios' }, id: 'reminder', class: 'toggle' %>
      </div>
        <%= f.input_field :deal_notification, label: false, as: :boolean, class: 'form-control',
          data: { toggle: 'toggle', style: 'ios' }, id: 'test', class: 'toggle' %>
      <div class="settings">
        <%= f.input_field :reminder, label: false, as: :boolean, class: 'form-control',
          data: { toggle: 'toggle', style: 'ios' }, id: 'test', class: 'toggle' %>
      </div>
      <div class="settings">
        cancel link
      </div>
    </div>
  <% end %>
<% end %>

<%= content_for :body_js do %>
  <script>
    $(document).ready(function() {
      var selector = 'input[type="checkbox"].toggle';
      $(selector).change(function(event) {
        $(event.target).parents().submit();
        var element = $('<div id="flash fixed" class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>Settings updated</div>');
        $('.navbar-ledja').after(element);
        element.fadeOut({ duration: 2000 });
      });
    });
  </script>
<% end  %>
