<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "logo">Company Logo</th>
      <th scope="col" class= "name">Service Provider</th>
      <th scope="col" class= "data">Price/month</th>
      <th scope="col" class= "data">Next payment</th>
      <th scope="col" class= "data">Alternatives <br>would save</br></th>
    </tr>
  </thead>
  <tbody>
    <% @lastTransactions.each do |transaction| %>
      <% @subscriptionPackages = SubscriptionPackage.where(category: transaction.description) %>
      <tr class='clickable-row' onclick="myFunction(<%= transaction.id %>)">
        <td class= "logo">
          <%= image_tag("/logos/#{transaction.description.parameterize}.png",  class: "subscription-logo")  %>
        </td>
        <td class= "name"><h4><strong><%= transaction.description %></strong></h4></td>
        <td class= "data">
          <h4><%= transaction.amount %> /month <h4>
          <p>€<%= transaction.amount * 12 %> /y</p>
        </td class= "data">
        <td class= "data">
          <h4>10 days</h4>
          <p>13/09/18</p>
        </td>
        <td class= "data"><h4>€35/y</h4></td>
      </tr>
      <tr>
        <td colspan="5" class="deal-td">
          <div id="<%= "details_#{transaction.id}" %>" style="display: none">
            <h4>Best alternatives to your <%= transaction.description%> subscription</h4>
            <div class="card-alternatives-container">
              <div class="card-alternatives">
                <% @subscriptionPackages.each do |subscriptionp| %>
                  <div class="col-xs-12 col-sm-4">
                    <div class="alternative-card">
                      <div class="alternative-card-image">
                        <%= image_tag subscriptionp.photo, class: "alternative-image-logo" %>
                      </div>
                      <div class="alternative-card-content">
                        <p><%= subscriptionp.name %></p>
                        <div class="content-alternative">
                          <div class="subscription-price">
                            <p><%= subscriptionp.price %></p>
                          </div>
                          <div class="subscription-link">
                            <%= link_to "Subscribe", subscriptionp.url %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
