<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "tb-left-align">Company Logo</th>
      <th scope="col" class= "tb-left-align">Service Provider</th>
      <th scope="col" class= "tb-right-align">Price/month</th>
      <th scope="col" class= "tb-right-align">Next payment</th>
      <th scope="col" class= "tb-right-align">Alternatives <br>would save</br></th>
    </tr>
  </thead>
  <tbody>
    <% @last_transactions.each do |transaction| %>
      <% @subscriptionPackages = SubscriptionPackage.where(category: transaction.description) %>
      <tr class='clickable-row' onclick="myFunction(<%= transaction.id %>)">
        <td class= "tb-tr-height tb-left-align">
          <%= image_tag("/logos/#{transaction.description.parameterize}.png",  class: "subscription-logo")  %>
        </td>
        <td class= "tb-tr-height tb-left-align"><h4><strong><%= transaction.description %></strong></h4></td>
        <td class= "tb-right-align">
          <h4><%= transaction.amount %> /month <h4>
          <p>€<%= transaction.amount * 12 %> /y</p>
        </td>
        <td class= "tb-tr-height tb-right-align">
          <h4>
            <% if (transaction.date + 1.month - Date.today).to_i <= 0 %>
              <%= (transaction.date + 2.month - Date.today).to_i %>
            <% else %>
              <%= (transaction.date + 1.month - Date.today).to_i %>
            <% end %>
            days
          </h4>
          <p>
            <% if (transaction.date + 1.month) <= Date.today %>
              <%= transaction.date + 2.month %>
            <% else %>
              <%= transaction.date + 1.month %>
            <% end %>
          </p>
        </td>
        <td class= "tb-tr-height tb-right-align">
          <% prices = [] %>
         <% saving_amount = 0 %>
          <% @subscriptionPackages.each do |alternative| %>
            <% prices << alternative.price %>
            <% best_alternative = prices.min %>
            <% saving_amount = (transaction.amount - best_alternative)*12 %>
          <% end %>
          <% if saving_amount == 0 %>
            <p>No alternatives</p>
          <% else %>
            <h4>€<%= saving_amount%>/y</h4>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="deal-td">
          <div id="<%= "details_#{transaction.id}" %>" class="text-center" style="display: none">
            <h4>Best alternatives to your <%= transaction.description%> subscription</h4>
            <div class="card-alternatives-container">
              <div class="card-alternatives">
                <% @subscriptionPackages.each do |subscriptionp| %>
                  <div class="col-xs-12 col-sm-4">
                    <div class="alternative-card">
                      <div class="alternative-card-image">
                        <%= image_tag subscriptionp.photo, class: "alternative-image-logo" %>
                      </div>
                      <div class="alternative-card-content">
                        <p><%= subscriptionp.name %></p>
                        <div class="content-alternative">
                          <div class="subscription-price">
                            <p>€<%= subscriptionp.price %>/month</p>
                          </div>
                          <div class="subscription-link">
                            <%= link_to "Subscribe", subscriptionp.url, target: :_blank %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
