<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "logo">Company Logo</th>
      <th scope="col" class= "name">Service Provider</th>
      <th scope="col" class= "data">Price/month</th>
      <th scope="col" class= "data">Next payment</th>
      <th scope="col" class= "data">Alternatives <br>would save</br></th>
    </tr>
  </thead>
  <tbody>
    <% @lastTransactions.each do |transaction| %>
      <tr class='clickable-row' onclick="myFunction(<%= transaction.id %>)">
        <td class= "logo"><img class="subscription-logo" src="http://pngimg.com/uploads/mcdonalds/mcdonalds_PNG9.png"></td>
        <td class= "name"><h4><strong><%= transaction.description %></strong></h4></td>
        <td class= "data">
          <h4><%= transaction.amount %> /month <h4>
          <p>€<%= transaction.amount * 12 %> /y</p>
        </td class= "data">
        <td class= "data">
          <h4>10 days</h4>
          <p>13/09/18</p>
        </td>
        <td class= "data"><h4>€35/y</h4></td>
      </tr>
      <tr>
        <td colspan="5">
          <div id="<%= "details_#{transaction.id}" %>" style="display: none">
            <h4>Best alternatives to your <%= transaction.description%> subscription</h4>
            <div class="card-alternatives-container">
              <div class="card-alternatives">
                <div class="col-xs-12 col-sm-4">
                  <div class="alternative-card">
                    <div class="alternative-card-image">
                    </div>
                    <div class="alternative-card-content">
                      <p>Name</p>
                      <div class="content-alternative">
                        <div class="lemons">
                          <i class="fas fa-lemon"></i>
                          <p>Size</p>
                        </div>
                        <div class="skulls">
                            <i class="fas fa-skull"></i>
                            <i class="fas fa-skull"></i>
                            <i class="fas fa-skull"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="alternative-card">
                    <div class="alternative-card-image">
                    </div>
                    <div class="alternative-card-content">
                      <p>Name</p>
                      <div class="content-alternative">
                        <div class="lemons">
                          <i class="fas fa-lemon"></i>
                          <p>Size</p>
                        </div>
                        <div class="skulls">
                            <i class="fas fa-skull"></i>
                            <i class="fas fa-skull"></i>
                            <i class="fas fa-skull"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="alternative-card">
                    <div class="alternative-card-image">
                    </div>
                    <div class="alternative-card-content">
                      <p>Name</p>
                      <div class="content-alternative">
                        <div class="lemons">
                          <i class="fas fa-lemon"></i>
                          <p>Size</p>
                        </div>
                        <div class="skulls">
                            <i class="fas fa-skull"></i>
                            <i class="fas fa-skull"></i>
                            <i class="fas fa-skull"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).on('ready page:change', function() {
    $('input[type="checkbox"].toggle').bootstrapToggle(); // assumes the checkboxes have the class "toggle"
  });
</script>




