 <% if @current_user.api_last_run.nil? %>
  <!-- load css spinner -->
  <div class="spinner-container">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <!-- load plaid api js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
    (function($) {
      var handler = Plaid.create({
        apiVersion: 'v2',
        clientName: 'Ledja',
        env: 'development',
        product: ['transactions'],
        key: '<%= ENV["PLAID_PUBLIC_KEY"] %>',
        onSuccess: function(public_token) {
          $.post('/callback', { public_token: public_token },
            function() {
              location.reload();
            });
          },
        });
      document.addEventListener('DOMContentLoaded', function(e) {
          handler.open();
      });
    })(jQuery);
  </script>
<!-- else load html and controller instance variables -->

<% else %>
  <div class="flex-container">
    <ul class="sidebar flex-container hidden-xs">
      <li class="flex item dash-tab active">
        <%= link_to "#active", data: { toggle: 'tab'  }, role: 'tab', 'aria-controls' => 'active' do %>
          <i class="fas fa-info-circle fa-2x"></i>
        <% end %>
      </li>

      <li class="flex item dash-tab">
        <%= link_to "#inactive", data: { toggle: 'tab'  }, role: 'tab', 'aria-controls' => 'inactive' do %>
          <i class="fas fa-cog fa-2x"></i>
        <% end %>
      </li>

      <li class="flex item dash-tab">
        <%= link_to "#manage", data: { toggle: 'tab'  }, role: 'tab', 'aria-controls' => 'manage' do %>
          <i class="far fa-credit-card fa-2x"></i>
        <% end %>
      </li>
    </ul>

    <div class="main-content">
      <div class="col-xs-12">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="active">
            <h4 class="dash-title"><strong>My active subscriptions</strong></h4>
              <%= render 'shared/subscriptions-table' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="inactive">
            <h4 class="dash-title"><strong>My followed subscriptions</strong></h4>
              <%= render 'shared/settings-table' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="manage">
            <h4 class="dash-title"><strong>Manage my accounts</strong></h4>
             <%= render 'shared/accounts-table' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
// on card click, add alternative packages to current subscription
  function myFunction(id) {
    var x = document.getElementById("details_" + id);

    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

