<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ledja - track your subscriptions automatically in less than a minute</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  </head>
  <body class="<%= controller_name %>">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <%= favicon_link_tag 'https://res.cloudinary.com/dxayumlub/image/upload/v1534359657/Ledja/favicon.ico' %>
      <%= yield(:body_js) %>
  </body>
</html>
